<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Cookie token prototype</title>

	<script type='text/javascript' src='http://code.jquery.com/jquery-git.js'></script>
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.js'></script>

	<script type='text/javascript' src='{{ url_for('static', filename='token.js') }}'></script>


</head>
<body>
<form type="submit" method="POST" class="add-token-on-submit" action="/comment/submit">
	<input type="text" name="comment" placeholder="Enter a comment" />
	<input type="submit" value="submit" />
</form>

Comments:<br/>
<ul>
{% for comment in comments %}
  <li>{{ comment }}</li>
{% endfor %}
</ul>
<br/>

<table>
	<tr>
		<td>Is there a session?</td>
		<td>{% if session %}
			Yes (<a href="/clear-session">Clear session</a>)
		{% else %}
			No
		{% endif %}
		</td>
	</tr>
	<tr>
		<td>Is the jsErrorFallbackActive?</td>
		<td>{% if 'js_error_fallback_active' in session %}Yes{% else %}No{% endif %}</td>
	</tr>
	<tr>
		<td>Token Cookie:</td>
		<td>
			<form class="save-cookies">
				<input type="text" class="replace-with-cookie-value save-cookie" data-cookie-name="token" value="" placeholder="No token has been set" />
				<input type="submit" value="save">
			</form>
		</td>
	</tr>
	{% if 'token' in session %}
		<tr>
			<td>Next expected token:</td>
			<td>{{ session['token'] }}</td>
		</tr>
		{% endif %}
</table>
</body>


</html>

