<html>
<head>
</head>
<body>
There was an error please
	<form method="POST" action="/token-error-fallback/submit">
		<input type="hidden" name="token" value="{{ session['token'] }}" />
		<input type="submit" value="Click to Continue">
	</form>

</body>
</html>